.about {
  text-align: center;
  color: var(--clr-ebonyClay);

  @include med {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../assets/patterns/pattern-curve-top-right.svg");
      left: -4rem;
      top: 20rem;
      width: 37.5rem;
      height: 32rem;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../assets/patterns/pattern-curve-top-left.svg");
      bottom: 0;
      right: 0;
      width: 37.5rem;
      height: 32rem;
    }
  }

  @include xl {
    &::before,
    &::after {
      width: 89.5rem;
    }
    &::before {
      left: 0;
      top: 36.5rem;
    }
  }

  &__item {
    @include xl {
      display: flex;
    }

    &__img {
      @include xl {
        flex: 1;
      }
    }
  }

  &__text {
    padding-top: 8.7rem;
    max-width: 55rem;
    margin: 0 auto;
    position: relative;

    @include med {
      padding: 8rem 11.6rem 0;
      max-width: unset;
    }

    @include xl {
      align-self: center;
      flex: 1;
      padding: 17.7rem 0 0 12.5rem;
      text-align: left;
    }

    h2 {
      padding-bottom: 1.6rem;

      @include med {
        font-size: 4rem;
        line-height: 140%;
        letter-spacing: -0.5px;
      }

      @include xl {
        padding-right: 3.5rem;
      }
    }

    p {
      padding-bottom: 8rem;
      letter-spacing: -0.1875px;

      @include med {
        font-size: 1.8rem;
        letter-spacing: -0.225px;
        padding-bottom: 12rem;
      }

      @include xl {
        padding-bottom: 0;
      }
    }

    &::before {
      @include divide;
      left: 0;
      right: 0;
      margin: auto;
      top: 4.8rem;

      @include xl {
        right: unset;
        left: unset;
        top: 11.8rem;
      }
    }
  }
}

.first {
  position: relative;
  margin-top: -7.5rem;

  @include med {
    margin-top: -9.5rem;
  }

  @include xl {
    margin-top: -7rem;
    padding-bottom: 12.1rem;
  }
}

.last {
  @include med {
  }

  @include xl {
    flex-direction: row-reverse;
  }

  picture {
    @include med {
      position: relative;

      &::after {
        @include patternLines;
        bottom: 5.6rem;
        right: -5.8rem;
      }
    }

    @include xl {
      &::after {
        right: -1.8rem;
        bottom: 36.2rem;
      }
    }

    @media screen and (min-width: 1400px) {
      &::after {
        right: -11.6rem;
      }
    }
  }

  .about__img {
    @include xl {
      margin-bottom: -8rem;
      z-index: 1;
    }
  }

  .about__text {
    @include xl {
      padding: 20.3rem 12.5rem 16.7rem 0;
    }
  }
}
