.about {
  text-align: center;
  color: var(--clr-ebonyClay);

  &__item:first-child {
    position: relative;
    margin-top: -7.5rem;
  }

  &__text {
    padding-top: 8.7rem;

    h2 {
      padding-bottom: 16.5rem;
    }

    p {
      padding-bottom: 8rem;
    }

    &::before {
      @include divide;
      top: -3.2rem;
    }
  }
}
