.btn {
  display: inline-block;
  padding: 2.5rem 4.5rem;
  font-size: 1.4rem;
  width: 24.5rem;
  height: 6.4rem;
  text-align: center;

  &--light {
    border: 1px solid #fff;

    &:hover {
      background: var(--clr-white);
      color: var(--clr-codGray);
    }
  }

  &--dark {
    background: var(--clr-codGray);
    border: 1px solid var(--clr-codGray);

    &:hover {
      background: var(--clr-white);
      color: var(--clr-codGray);
    }
  }
}
