.btn {
  display: inline-block;
  padding: 2.4rem 5.5rem;
  font-size: 1.4rem;

  &--light {
    border: 1px solid #fff;

    &:hover {
      background: var(--clr-white);
      color: var(--clr-codGray);
    }
  }

  &--dark {
    background: var(--clr-codGray);
    border: 1px solid var(--clr-codGray);

    &:hover {
      background: var(--clr-white);
      color: var(--clr-codGray);
    }
  }
}
