.cta {
  background: url("../../images/homepage/ready-bg-mobile.jpg") no-repeat center;
  background-size: cover;
  color: var(--clr-white);
  padding: 5.3rem 0;
  text-align: center;

  &__heading {
    padding-bottom: 3.6rem;
  }
}
