.cta {
  background-image: url("../../images/homepage/ready-bg-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--clr-white);
  padding: 5.3rem 0;
  text-align: center;

  @include med {
    background-image: url("../../images/homepage/ready-bg-tablet.jpg");
  }

  @include xl {
    background-image: url("../../images/homepage/ready-bg-desktop.jpg");
  }

  &__text {
    @include xl {
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    padding-bottom: 1.73rem;

    @include med {
      font-size: var(--fs-head2);
      line-height: 140%;
      letter-spacing: -0.5px;
    }
  }

  a {
    display: inline-block;

    @include xl {
      height: 4.27rem;
    }
  }
}
