.cta {
  background-image: url("../../assets/homepage/ready-bg-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--clr-white);
  padding: 8rem 0;
  text-align: center;

  @include med {
    background-image: url("../../assets/homepage/ready-bg-tablet.jpg");
    padding: 6.4rem 0;
  }

  @include xl {
    background-image: url("../../assets/homepage/ready-bg-desktop.jpg");
    padding: 9.2rem 0;
  }

  &__text {
    @include xl {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      padding-bottom: 2.6rem;

      @include med {
        font-size: 4rem;
        line-height: 140%;
        letter-spacing: -0.5px;
      }

      @include xl {
        padding: 0;
      }
    }
  }
}
