.reservation {
  padding-bottom: 8.6rem;

  @include xl {
    position: relative;
    padding-top: 1.4rem;

    &::after {
      position: absolute;
      content: "";
      background-image: url(../../assets/patterns/pattern-curve-bottom-right.svg);
      width: 99.3rem;
      height: 32rem;
      bottom: 0;
      z-index: -1;
    }
  }

  form {
    background-color: var(--clr-white);
    margin-top: -13.7rem;
    margin: -13.7rem auto 0;
    padding: 3.2rem;
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    max-width: 54rem;

    display: grid;
    row-gap: 3.2rem;

    @include xl {
      margin: -31.7rem 0 0 auto;
      position: relative;

      &::after {
        @include patternLines;
        bottom: -3.8rem;
        left: -8rem;
        z-index: -1;
      }
    }

    input,
    select {
      border: none;
      border-bottom: 1px solid #8e8e8e;
    }

    label,
    select {
      font-size: 1.8rem;
      line-height: 156%;
      letter-spacing: -0.225px;
      color: var(--clr-codGray);
    }

    input:focus {
      border-bottom-color: var(--clr-codGray);
    }

    ::placeholder {
      opacity: 0.5;
    }

    input[name="name"],
    input[name="email"] {
      padding-bottom: 0.5rem;
      padding-top: 0.8rem;
      padding-left: 1.6rem;
      width: 100%;
    }

    .heading {
      font-size: 1.8rem;
    }

    fieldset {
      border: none;
    }

    select {
      opacity: 0.5;
      appearance: none;
      background-color: transparent;
      margin: 0;
      width: 100%;
      font-family: inherit;
      cursor: inherit;
      padding: 0.8rem 0 1.6rem 10%;

      &:focus {
        opacity: 1;
      }
    }

    .grid {
      @include med {
        display: grid;
        grid-template-columns: 12rem 1fr;
        column-gap: 5.2rem;
      }
    }

    .date-picker,
    .time-picker {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.4rem;
      padding-top: 0.8rem;

      @include med {
        padding-top: 0;
      }
    }

    .field-info {
      align-self: center;
    }

    .people {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #8e8e8e;
      padding-bottom: 1.7rem;

      @include med {
        justify-content: space-around;
      }
    }

    .math {
      border: none;
      background-color: transparent;
      padding: 0 1.9rem;
    }

    button {
      padding: 0;
      width: initial;
      cursor: pointer;
    }
  }

  .error-border {
    border-bottom-color: var(--clr-error);
  }

  .error-color {
    color: var(--clr-error);
  }

  .error-message {
    color: var(--clr-error);
    padding-top: 1rem;
    padding-left: 1.6rem;
    font-size: 1rem;
    line-height: 100%;
    transition: 0.3s;
    font-weight: var(--fw-semi-bold);
  }

  .date .error-message,
  .time .error-message {
    padding: 0;
  }

  .success-message {
    color: green;
    font-size: 1.2rem;
    font-weight: var(--fw-semi-bold);
    line-height: 156%;
  }
}
