.header {
  background-color: var(--clr-codGray);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  // min-height: 74.8rem;
  min-height: 49.86rem;
  text-align: center;
  color: #ffff;
  padding: 23rem 0 15.4rem;
  padding: 15.33rem 0 10.26rem;
}

.homeHeader {
  background-image: url("../../images/homepage/hero-bg-mobile.jpg");

  // @media screen and (min-width: 550px) {
  //   background-image: url("../../images/homepage/hero-bg-tablet.jpg");
  // }
}
// .bookingHeader {
// }

.logo {
  margin: 0 auto;
  border: none;
  background: none;
  margin-bottom: 0.53rem;
}
