.header {
  background-color: var(--clr-codGray);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  color: #ffff;
  padding: 24.4rem 0 14rem;

  @include med {
    padding: 37.4rem 0 21.6rem;
    position: relative;
  }

  @include xl {
    padding: 6.5rem 0 19.5rem;
    background-size: cover;
    text-align: left;
  }

  &__logo {
    margin: 0 auto;
    border: none;
    background: none;

    @include xl {
      padding-bottom: 12.1rem;
    }
  }
}

.homeHeader {
  background-image: url("../../assets/homepage/hero-bg-mobile.jpg");
  background-size: contain;

  @include med {
    background-image: url("../../assets/homepage/hero-bg-tablet.jpg");
  }

  @include xl {
    background-image: url("../../assets/homepage/hero-bg-desktop.jpg");
    background-size: cover;
  }
}

.bookingHeader {
  background-image: url("../../assets/booking/hero-bg-mobile.jpg");

  @include med {
    background-image: url("../../assets/booking/hero-bg-tablet.jpg");
  }

  @include xl {
    background-image: url("../../assets/booking/hero-bg-desktop.jpg");
  }
}
