:root {
  // Colors
  --clr-beaver: hsl(27, 22%, 51%);
  --clr-codGray: hsl(0, 0%, 7%);
  --clr-mirage: hsl(234, 30%, 13%);
  --clr-ebonyClay: hsl(218, 21%, 18%);
  --clr-shuttleGray: hsl(217, 14%, 42%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-error: hsl(0, 43%, 50%);

  // Font-weights
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --fw-light: 300;
}
