:root {
  // Colors
  --beaver: hsl(27, 22%, 51%);
  --codGray: hsl(0, 0%, 7%);
  --mirage: hsl(234, 30%, 13%);
  --ebonyClay: hsl(218, 21%, 18%);
  --shuttleGray: hsl(217, 14%, 42%);
  --white: hsl(0, 0%, 100%);

  // Font-weights
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --fw-light: 300;
}
