:root {
  /* Primary */
  --beaver: hsl(27, 22%, 51%);
  --codGray: hsl(0, 0%, 7%);
  /* Secondary */
  --mirage: hsl(234, 30%, 13%);
  --ebonyClay: hsl(218, 21%, 18%);
  --shuttleGray: hsl(217, 14%, 42%);
  /* Font size:   */
  /* font-size: 62.5%; 10px */
  /* --font-size--small: 1.4rem; 14px 
  --font-size--default: 1.6rem;  16px 
  --font-size--large: 2.4rem; 24px */
}
