html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  margin: 0 auto;
  max-width: 144rem;

  @include xxl {
    max-width: unset;
  }
}

h1,
h2 {
  font-size: 3.2rem;
}

h2,
h3 {
  font-weight: var(--fw-bold);
}

h1 {
  font-weight: var(--fw-light);
  line-height: 4rem;
  letter-spacing: -0.4px;
}

h2 {
  line-height: 125%;
  letter-spacing: -0.4px;
}

h3 {
  font-size: var(--fs-head3);
  letter-spacing: -0.22px;
}

p {
  font-size: var(--fs-body2);
  line-height: 167%;
  letter-spacing: -0.19px;
}

a {
  color: var(--clr-white);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-body);
  font-weight: var(--fw-semi-bold);
  line-height: 114%;
}

a,
button {
  &:focus {
    outline: 2px dotted var(--clr-beaver);
    outline-offset: 4px;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
