// html {
//  font-size: 62.5%;
// }

body {
  font-family: "Spartan", sans-serif;
  // font-size: 1.5rem;
  font-size: 93.75%; //15px body
  margin: 0 auto;
  // max-width: 144rem;
  max-width: 96rem;
}

h1 {
  // font-size: 3.2rem;
  font-size: 2.13rem;
  font-weight: 300;
  line-height: 2.66rem;
  /* line-height: 4; */
  letter-spacing: -0.4px;
}

h2 {
  font-weight: var(--fw-bold);
  font-size: 2.13rem;
  line-height: 125%;
  letter-spacing: -0.4px;
}

p {
  line-height: 167%;
  letter-spacing: -0.1875px;
}

// a {
//   background: var(--codGray);
//   border: 1px solid #fff;
//   color: #fff;
//   padding: 2.4rem 5.5rem;
//   text-decoration: none;
//   text-transform: uppercase;
// }
